

.countdown-container {
	background-color: rgba(44,62,80 , 0.6 );
	background-image: url('../img/pattern.png');
	position: relative;
	top: 100px;
	margin-bottom: 10px;
	
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);

}

.clock-item .inner {
	height: 0px;
	padding-bottom: 50%;
	position: relative;	
	margin-bottom: 10px;
	width: 100px;
}

.clock-canvas {
	background-color: rgba(255, 255, 255, .1);
	border-radius: 50%;
	height: 0px;
	padding-bottom: 100%;
}

.text {
	color: #fff;	
	font-size: 13px;
	font-weight: bold;	
	margin-top: 0px;
	position: absolute;
	top: 5px;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	width: 100%;
}

.text .val {
	font-size: 14px;
}

.text .type-time {
	font-size: 14px;
}

@media (min-width: 768px) and (max-width: 991px) {
	.clock-item {
		margin-bottom: 30px;		
	}
}

@media (max-width: 767px) {
	.clock-item {
		margin: 0px 30px 30px 30px;
	}
}